In [2]:
import pandas as pd

df = pd.read_excel('IDS college 5(1-43).xlsx')
df

,ID,Start time,Completion time,Email,Name,Welke opleiding volg je?,Wat is je leeftijd?,Wat is je postcode?,Wat is je favoriete datum?
0,106,2023-10-04 10:43:16,2023-10-04 10:43:51,anonymous,NaN,Aviation,20.0,1991TS,27-12-2002
1,107,2023-10-04 10:43:19,2023-10-04 10:43:58,anonymous,NaN,HBO-ICT,19.0,1851NB,11-01
2,108,2023-10-04 10:43:15,2023-10-04 10:44:11,anonymous,NaN,Aviation Operations,21.0,1621 AG,4/1
3,109,2023-10-04 10:43:19,2023-10-04 10:44:22,anonymous,NaN,build enverment,22.3,1811,8 oktober
4,110,2023-10-04 10:43:18,2023-10-04 10:44:24,anonymous,NaN,Bedrijfskunde,21.0,1102AM,25 December
5,111,2023-10-04 10:43:20,2023-10-04 10:44:26,anonymous,NaN,Mechanical Engineering,22.0,1911,18 mei
6,112,2023-10-04 10:44:10,2023-10-04 10:44:27,anonymous,NaN,Toegepaste Wiskunde,19.0,2121XA,14 mei
7,113,2023-10-04 10:43:17,2023-10-04 10:44:32,anonymous,NaN,Biomedische Technologie,19.0,2045HZ,13-13-2013
8,114,2023-10-04 10:43:50,2023-10-04 10:44:34,anonymous,NaN,Aviation,21.0,6904LV,24-06-2002
9,115,2023-10-04 10:43:25,2023-10-04 10:44:39,anonymous,NaN,logistiek,21.0,3829MS,25-12
10,116,2023-10-04 10:43:24,2023-10-04 10:44:44,anonymous,NaN,Biomedische Technologie,-21.0,2263CB,09/12
11,117,2023-10-04 10:43:20,2023-10-04 10:44:44,anonymous,NaN,Bedrijfskunde,33.0,1055DK,1 januari
12,118,2023-10-04 10:43:31,2023-10-04 10:44:54,anonymous,NaN,"Software Development - HBO ICT, Utrecht",25.0,1272GJ,27-4
13,119,2023-10-04 10:44:06,2023-10-04 10:44:56,anonymous,NaN,TW,43.0,1011GG,20-4-1968
14,120,2023-10-04 10:44:10,2023-10-04 10:45:10,anonymous,NaN,BIM,19.0,5889 SB,05/12/1111
15,121,2023-10-04 10:43:56,2023-10-04 10:45:15,anonymous,NaN,Aviation,25.0,1094 EZ,05-12
16,122,2023-10-04 10:44:22,2023-10-04 10:45:17,anonymous,NaN,Toegepaste Wiskunde,21.0,1244AB,15/06/20023
17,123,2023-10-04 10:44:50,2023-10-04 10:45:30,anonymous,NaN,Wiskunde,20.0,2301WR,1 januari
18,124,2023-10-04 10:44:56,2023-10-04 10:45:33,anonymous,NaN,Aviation,20.0,1381,01/04
19,125,2023-10-04 10:45:04,2023-10-04 10:45:33,anonymous,NaN,Toegepaste Wiskunde,22.0,2729JB,10-09
20,126,2023-10-04 10:44:13,2023-10-04 10:45:36,anonymous,NaN,Engineering: technische bedrijfskunde,19.0,1011AC,13-05-2017
21,127,2023-10-04 10:44:52,2023-10-04 10:45:42,anonymous,NaN,aviation,24.0,1059vn,24-05-2001
22,128,2023-10-04 10:44:49,2023-10-04 10:45:44,anonymous,NaN,bedrijfskunde,195.0,1231,NaN
23,129,2023-10-04 10:43:23,2023-10-04 10:45:45,anonymous,NaN,ORM,22.0,1115TZ,12/06
24,130,2023-10-04 10:43:41,2023-10-04 10:45:47,anonymous,NaN,Built environment,24.0,1071AP,1/1
25,131,2023-10-04 10:43:44,2023-10-04 10:45:55,anonymous,NaN,finance tax and advice,22.0,2011ke,21-02-2010
26,132,2023-10-04 10:44:16,2023-10-04 10:46:02,anonymous,NaN,Technische Natuurkunde,20.0,1948AD,8 juli
27,133,2023-10-04 10:44:54,2023-10-04 10:46:02,anonymous,NaN,bedrijfskunde,22.0,1582 xw,29
28,134,2023-10-04 10:43:21,2023-10-04 10:46:19,anonymous,NaN,Docent Wiskunde,25.0,1811GL Alkmaar,29-11-2001
29,135,2023-10-04 10:43:24,2023-10-04 10:46:20,anonymous,NaN,Toegepaste Wiskunde,26.0,1012BV,19-07-2023
30,136,2023-10-04 10:43:15,2023-10-04 10:46:23,anonymous,NaN,Engineeering,24.8,3545 XD,04/11/2023
31,137,2023-10-04 10:46:19,2023-10-04 10:46:42,anonymous,NaN,Aviation Engineering,20.0,1509ZG,8 juni
32,138,2023-10-04 10:45:44,2023-10-04 10:46:46,anonymous,NaN,Technische Natuurkunde,420.0,1946GL,Kerst
33,139,2023-10-04 10:45:00,2023-10-04 10:46:46,anonymous,NaN,Toegepaste Wiskunde,24.0,1136 DJ,23-01
34,140,2023-10-04 10:46:25,2023-10-04 10:46:48,anonymous,NaN,Aviation,0.0,1010AZ,20 januari
35,141,2023-10-04 10:44:16,2023-10-04 10:46:53,anonymous,NaN,Aviation,23.0,1022LC,15-08-2000
36,142,2023-10-04 10:45:01,2023-10-04 10:46:56,anonymous,NaN,ICT,21.0,3083,01-10
37,143,2023-10-04 10:44:53,2023-10-04 10:46:59,anonymous,NaN,HBO software engineering,24.0,1121,01/02/2020
38,144,2023-10-04 10:46:28,2023-10-04 10:47:09,anonymous,NaN,Data Science,25.0,1503xb,21
39,145,2023-10-04 10:46:28,2023-10-04 10:47:15,anonymous,NaN,Maritiem Officier,26.0,3721JK,17-03-1997
40,146,2023-10-04 10:47:16,2023-10-04 10:47:40,anonymous,NaN,criminologie,20.0,2311HB,31/1
41,147,2023-10-04 10:44:51,2023-10-04 10:47:42,anonymous,NaN,built environment,222.0,1091 GC,8 mei 1926
42,148,2023-10-04 10:47:16,2023-10-04 10:47:43,anonymous,NaN,Aviation,65.0,1435df,32-13-2046

# Problemen

- Leeftijd: integer of float? Is 420 een realistische leeftijd? Is 0 een realistische leeftijd?
- Postcode: Hoofdletters? Spatie? Uberhaupt letters? Gemeente?
- Datum: formaat, inclusief jaar? Uitgeschreven? Kerst?
- Opleiding, Spelfouten, opleidingsniveau gespecifeerd?